.action-area {
    
    &__duplicator-container {
        display: flex;
    }

    &__duplicator {
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }

    &__view {
        height: 320px;
        border: 1px solid black;
    }
}